{% extends 'base.html.twig' %}

{% block body %}


    <h1>{{ title }}</h1>
    <img src = "https://www.challenges.fr/assets/img/2013/04/03/cover-r4x3w1000-57987c12ce738-le-louvre.jpg" width = "800px" height = "400px" />

<p>


    <div class="card-body">
    </div>
    <div class="alert alert-secondary d-flex align-items-baseline" role="alert">
    <i class="fas fa-exclamation-circle mr-1"></i>
    <p>
        Le musée est ouvert tous les jours sauf le mardi, le 01/05, le 01/11 et le 25/12.<br>
        Il n’est pas possible de réserver pour les dimanches et les jours fériés.
    </p>
    </div
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem culpa debitis doloremque dolorum fugit iste
        laudantium neque nostrum obcaecati possimus quos reiciendis, similique, ullam! A aspernatur dignissimos iste,
        itaque maxime mollitia nam necessitatibus quae quaerat quasi quidem, rerum sapiente soluta! Culpa eum magnam
        numquam quos? Debitis delectus deleniti fugit harum, illo, illum maiores nam pariatur quaerat repellat sequi
        ullam? Accusantium, adipisci excepturi libero maxime minus nam nisi praesentium quisquam temporibus voluptatum!
        Alias consequatur id magni recusandae repellendus! Inventore, nesciunt, velit?</p><p>Aperiam aspernatur
    assumenda at consectetur cumque debitis deserunt distinctio eos esse et eum, eveniet exercitationem expedita id
    ipsum itaque laborum modi obcaecati omnis pariatur provident quam qui quis ratione repudiandae! Aperiam commodi
    distinctio eum explicabo fugiat optio possimus quibusdam, quidem sint tempora? Accusamus beatae esse laudantium
    nulla vel? Consectetur deserunt dignissimos dolore expedita fuga in, minima minus necessitatibus nulla optio
    perferendis quas quos rem reprehenderit, sit vel velit, veritatis voluptate. Enim, iste, totam. Animi earum et
    exercitationem numquam perferendis repudiandae.</p><p>Aperiam consequatur, dignissimos dolore et ex harum illo magni
    molestias nam necessitatibus nisi nobis odio perferendis, perspiciatis praesentium quod rem sed suscipit ullam
    velit. Alias esse excepturi facilis in ipsum maiores maxime quos soluta. Cupiditate eum minus necessitatibus quas!
    Adipisci alias consectetur deleniti doloribus eligendi enim exercitationem id illo illum ipsum iste magnam minus
    necessitatibus neque odio officia officiis provident quasi qui quis quisquam quos recusandae, rerum saepe sed
    similique suscipit vitae voluptate voluptatibus voluptatum! Culpa illum quam recusandae sunt.</p>


{% endblock %}

