{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    <section class= "articles">
        <article>
            <h2>Titre de l'article</h2>
            <div class="metadata">Ecrit le 10/05/2019 à 18h00 dans la catégorie Nouveautés</div>
            <div class="content"><img src="http://placehold.it/350x150" alt="">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum impedit incidunt libero modi omnis
                    pariatur provident quo ratione, similique sint! Eveniet fugiat iste natus nesciunt odit perferendis
                    quae quasi veritatis.</p>
                <p>A accusantium ad assumenda, doloremque dolores doloribus eaque esse eveniet fugiat illo inventore
                    iste itaque iure laborum, libero magni nam necessitatibus non odit optio qui quia, quidem velit
                    veniam voluptatem!</p>
                <a href="{{ path('blog_show') }}" class="btn btn-primary">Lire la suite</a></div>
        </article>
        <article>
            <h2>Titre de l'article</h2>
            <div class="metadata">Ecrit le 10/05/2019 à 18h00 dans la catégorie Nouveautés</div>
            <div class="content"><img src="http://placehold.it/350x150" alt="">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur distinctio dolorum eius error
                    fugiat itaque libero nemo non pariatur praesentium qui quia quos repellat, sint sit soluta vero.
                    Pariatur, repudiandae.</p>
                <p>Adipisci amet aperiam architecto aspernatur, dicta distinctio dolorem excepturi exercitationem fugiat
                    harum hic illo impedit laboriosam libero maxime neque nisi nobis odio perspiciatis quasi qui saepe
                    sequi similique sint sit?</p>
                <a href="{{ path('blog_show') }}" class="btn btn-primary">Lire la suite</a></div>
        </article>
        <article>
            <h2>Titre de l'article</h2>
            <div class="metadata">Ecrit le 10/05/2019 à 18h00 dans la catégorie Nouveautés</div>
            <div class="content"><img src="http://placehold.it/350x150" alt="">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, maiores, sed. Amet architecto cumque
                    delectus dignissimos dolorem doloremque eaque et minus mollitia natus nihil non, provident sit
                    soluta ut vero!</p>
                <p>Adipisci architecto cum, excepturi illo, ipsa nihil nobis quis, quo recusandae repellat rerum
                    similique tempore ut vero voluptatibus. Distinctio excepturi harum minima necessitatibus perferendis
                    provident sequi vero. A, dicta, quia.</p>
                <a href="{{ path('blog_show') }}" class="btn btn-primary">Lire la suite</a></div>
        </article>

{% endblock %}
