{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <h2>Titre de l'article</h2>
        <div class="metadata">Ecrit le 10/05/2019 à 18h00 dans la catégorie Nouveautés</div>
        <div class="content"><img src="http://placehold.it/350x150" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum impedit incidunt libero modi omnis
                pariatur provident quo ratione, similique sint! Eveniet fugiat iste natus nesciunt odit perferendis
                quae quasi veritatis.</p>
            <p>A accusantium ad assumenda, doloremque dolores doloribus eaque esse eveniet fugiat illo inventore
                iste itaque iure laborum, libero magni nam necessitatibus non odit optio qui quia, quidem velit
                veniam voluptatem!</p>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci consequuntur dolores dolorum
                inventore, iste nostrum obcaecati velit? Aperiam aspernatur atque autem consectetur, corporis dicta
                dignissimos dolor dolore dolorem ducimus est eum expedita impedit modi numquam odio odit pariatur porro
                quidem ratione reiciendis sunt suscipit. Alias beatae est eum mollitia porro.</p>
            <p>Aperiam cumque minus quaerat repudiandae similique. Doloremque explicabo hic molestias necessitatibus
                nisi possimus rem sequi totam ullam veniam. Ducimus, enim fugiat in labore laboriosam magni modi neque
                odio, omnis perferendis quaerat quasi quisquam rem saepe sit tenetur voluptates? Aliquid culpa ducimus
                eaque id labore nisi, numquam perspiciatis repudiandae soluta sunt.</p>
    </article>
{% endblock body %}