{% extends 'base.html.twig' %}

{% block body %}

<h1> Votre commande a bien été prise en charge, vous allez recevoir un mail, pour récapituler votre commande. </h1>


    <a href="{{ path('home') }}">Retour</a>
{% endblock %}